.playlistListItem {
  background-color: rgba(1, 12, 63, 0.7);
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.active {
  background-color: #401fa7;
  border-bottom-color: #401fa7;
}

.playlistListItem:hover {
  background-color: rgba(108, 65, 233, 0.7);
  border-bottom-color: #401fa7;
}
